anyio                    
asyncio              
CacheControl            
cachetools              
certifi                 
cffi                     
charset-normalizer      
click                   
colorama                 
cryptography            
Deprecated              
dnspython               
fastapi                  
ffmpeg 
firebase_admin                 
greenlet                
grpcio                  
grpcio-status           
h11                     
httplib2             
httptools              
idna                               
numpy                   
opencv-python           
Pillow                   
pip                      
proto-plus             
protobuf                
pyasn1                 
pyasn1-modules          
pycparser               
pycryptodome             
pydantic               
pyparsing               
Pyrebase4               
python-dotenv          
python-multipart       
PyYAML             
requests                
requests-toolbelt        
rsa                    
setuptools               
six                      
sniffio                 
sseclient               
starlette               
typing                  
typing_extensions       
uritemplate           
urllib3                 
uvicorn                 
watchfiles               
wrapt                   