<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Details</title>
        <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
        <title>Awesome Form</title>
    </head>
    <body>
        <h1>Awesome Form</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="username">Username</label><br>
            <input type="text" name="username"><br>
            <label for="password">Password</label><br>
            <input type="text" name="password"><br>
            <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
    </html>