<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <h1>Uploade Image List</h1>
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
                <td><button>IMG</button></td>
                <td><button>DeL</button></td>
            </tr>
            {% endfor %}
        </tr>
    </table>
</body>
</html>