<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <H1> FASTAPI SERVER</H1>
    
    <h1>Welcome to Fastapi server for FileUploading</h1>
        <button id = videolist onclick = "newwindow(id)">GetVideoList</button>
        <button id = upload onclick = "newwindow(id)">UploadVideo</button>
        
</body>
<script>
    function newwindow(id) {
            var url1 = "https://fastapi-jinja-6badb8f69c11.herokuapp.com/"
            newwindowurl = url1 + id
            window.location.href = newwindowurl;
            }  
    function popwindow(id) {
            newwindowurl = 'http://localhost:8000/' + id
            window.open(newwindowurl);
            }  
</script>
</html>