<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory List</title>
    <link rel="stylesheet" href="/static/css/styles.css" />

    
</head>
<body>
    <h1>Table for list</h1>
    <li>          
        {% for file in files %}
        
           <h2><button id = {{file}} onclick= "getfunction(id)" >{{ file }}</button></h2>

        {% endfor %}       
    </li>

    <script>      
        getfunction = (id) =>{
            var id = id         
            fetch('http://localhost:8000/getimage/' + id, {
                method: "GET"
                                           
            }).then(function(response) {
                console.log("working ok")
                return response.text();
            
            })
            };
       
             
    </script>
</body>
</html>