<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory List</title>
    <link rel="stylesheet" href="/static/css/styles.css" />

    
</head>
<body>
    <div>
    <h1>Table for list</h1>
    <li>          
        {% for file in files %}
        
           <h2><button id = {{file}} onclick= "getfunction(id)" >{{ file }}</button></h2>

        {% endfor %}       
    </li>
    </div>
    <div>
        <h1>My Video<h1>
        <p>{myvideo}</p>
        <video id="myVideo" width="320" height="176">
        <source src="C:///Users/leekw\Desktop/fastapi_jinja/ + image">
       
            Your browser does not support HTML5 video.
    </div>
    <script>      
        getfunction = (id) =>{
            var id = id         
            fetch('http://localhost:8000/getvideo/' + id, {
                method: "GET"
                                           
            }).then(function(response) {
                image = response
                playvideo(image)
                window.alert("image Received")
                
            })
            };
             
                   
        function playvideo(image) { 
            var vid = document.getElementById("myVideo")
            vid.play(image); 
        } 
               
        </script> 

</body>
</html>